
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700;800;900&display=swap');


@font-face {
    font-family: 'Blanka';
    src: url('assets/Blanka.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.font-urbanist { font-family: 'Urbanist', sans-serif; }

.font-blanka { font-family: 'Blanka'; }

.font-mono { font-family: monospace; font-size: 11px;}
  
.outline-s{outline: solid 3px black;}

.outline-d{outline: dashed 1px black;}

body{

  font-family: 'Urbanist', sans-serif;  
}

html {
  scroll-behavior: smooth;
}

.arrow-scroll {
  position: relative;
  height: 4em;  
}

.arrow{
  border: solid #201C1C;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  cursor: pointer;
  
}

.arrow:nth-child(2){
  animation: arrow1 1.5s ease-in-out infinite;  
}

.arrow:nth-child(3){
  animation: arrow2 1.5s ease-in-out infinite;  
}

@keyframes arrow1 {
  
  100% {
      opacity: 0;
      top: 50%;
  }
}

@keyframes arrow2 {

  100% {
      opacity: 0;
      top: 25%;
  }
}



@media (min-width: 1500px) {
  .pad-css{
    padding-top: 30px !important;
  }
}


@media only screen 
and (min-width: 380px) 
and (max-width: 768px) {

  .pad-download{
    padding-left: 50px;
    padding-right: 50px;
  }


}

@media only screen 
and (min-width: 499px) 
and (max-width: 640px) {

  .mq{
    padding-left: 20px;
    padding-right: 20px;
  }


}


